@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.cartItem{
    font-family: 'Montserrat', sans-serif!important;
    font-size: 15px;
}

.imageCart{
    height: 95px;
    margin: 5px;
}

.badgeCart, 
.detalleItem, 
.totalItem{
    margin: 20px;
}

.lista{
    width: 50px;
}

