@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.barraNavegacion{
    background-color: #ecf3ae;
    font-family: 'Montserrat', sans-serif;
}

.links{
    margin-right: 80px;
    font-weight: bold;
}

.nav-link{
    margin-right: 20px;
    margin-left: 20px;
}


