@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.barraNavegacion{
    background-color: #cbdbcb;
    font-family: 'Montserrat', sans-serif;
}

.links{
    margin-right: 35px;
    font-weight: bold;
}
