@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.barraNavegacion{
    background-color: #ecf3ae;
    font-family: 'Montserrat', sans-serif;
}
.carta{
    font-family: 'Montserrat', sans-serif;
}

.links{
    margin-right: 35px;
    font-weight: bold;
}

.listCarrito{
    list-style-type: none; 
    display: flex;
}

.contadorCarrito{
    color: rgb(3, 182, 3);
    font-weight: bold;
    margin-left: 5px;
}

.card-title{
    font-weight: bold!important;
}

/*ItemListContainer CSS
.itemContainer{
    background-color: rgb(212, 212, 212);
    text-align: center;
    padding: 10px;
}
*/
/*
.h2Saludo{
    color: darkgreen;
    font-family: 'Montserrat', sans-serif;
}
*/
