@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.carta{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
/*
.listCarrito{
    list-style-type: none; 
    display: flex;
}

.contadorCarrito{
    color: rgb(3, 182, 3);
    font-weight: bold;
    margin-left: 5px;
}

.card-title{
    font-weight: bold!important;
}

.nav-link{
    align-items: center!important;
    align-content: center!important;
}
*/